.home {
    background-image: url(construction.avif);
    background-size: cover;
    width: 90%;
   
}

.heading {
    margin-top: 1px;
    color: aqua;
    margin-left: 500px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    cursor: pointer;
}

.divisions {
    margin-top: 5px;
    color: rgb(12, 12, 12);
    margin-left: 500px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    cursor: pointer;
}

.heading2 {
    margin-top: 10px;
    margin-left: 300px;
    color: brown;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    cursor: pointer;
}

.pages {
    margin-left: 500px;
    color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

.h1 {
    margin-top: -1px;
    margin-left: 350px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    cursor: pointer;
}

.h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin-left: 500px;
    color: rgb(8, 115, 238);
    cursor: pointer;
}

@media (max-width: 600px) {
    .home {
        padding: 10px;
    }

    .heading,
    .divisions,
    .heading2,
    .pages,
    .h1,
    .h3 {
        margin-left: 0;
        text-align: center;
    }
}